<div class="container-fluid h-100 " style="height: 100%">
  <div class="row">
    <div class="column col-4">
      <div class="module">
        <app-coins></app-coins>
      </div>
    </div>
    <div class="column col-4">
      <div class="module">
        <app-view2></app-view2>
      </div>
    </div>
    <div class="column col-2">
      <div class="module">
        <app-view3></app-view3>
      </div>
    </div>
    <div class="column col-2">
      <div class="module">
        <app-view3></app-view3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column col-2">
      <div class="module">
        <app-view3></app-view3>
      </div>
    </div>
    <div class="column col-4">
      <div class="module">
        <app-coins></app-coins>
      </div>
    </div>
    <div class="column col-2">
      <div class="module">
        <app-view3></app-view3>
      </div>
    </div>
    <div class="column col-4">
      <div class="module">
        <app-view2></app-view2>
      </div>
    </div>

  </div>

</div>
